<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Piano Language</title>

  <style>
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    padding: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  #word-list div {
    cursor: pointer;
  }
  </style>

  <!-- TODO: add back in the note detection functionality -->
  <!-- <script src="static/js/lib/webmidi.min.js"></script> -->
  <!-- <script src="static/js/lib/tonal.min.js"></script> -->
  <!-- <script src="static/js/musicevents.js"></script> -->
  <script src="static/js/lib/zepto.min.js"></script>
  <script src="static/js/main.js"></script>
</head>
<body>
  <h2> Piano Language</h2>

  <div>
    <h4>Text</h4>
    <div id="text"></div>

    <br>

    <h4>Next words</h4>
    <div id="word-list"></div>
  </div>
</body>
</html>
